.header__lang-link {
    color: #fff;
    padding-top: 18px;
    padding-left: 18px;
    text-decoration: none;
    font-size: 24px;
    line-height: 1.16;
    font-weight: 400;
}

@media screen and (max-width: 767px) {
    .header__lang-link {
        padding-top: 14px;
        padding-left: 14px;
        font-size: 18px;
        line-height: 1.11;
    }
}