.photo-grid {
    padding-top: 92px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0px, 284px));
    max-width: 1184px;
    gap: 16px;
}

@media screen and (max-width: 1279px) {
    .photo-grid {
        grid-template-columns: repeat(3, minmax(0px, 300px));
        gap: 14px;
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid {
        grid-template-columns: repeat(2, minmax(0px, 352px));
        padding-top: 88px;
        gap: 16px;
    }
} 

@media screen and (max-width: 767px) {
    .photo-grid {
        grid-template-columns: minmax(0px, 288px);
        padding-top: 64px;
        gap: 12px;
    }
} 