.lead__title {
    width: 720px;
    max-height: 200px;
    color: #fff;
    text-align: center;
    letter-spacing: 0em;
    margin: 0;
    line-height: 1.04;
    font-size: 96px;
    font-weight: 900;
    padding-top: 56px;
}

@media screen and (max-width: 1279px) {
    .lead__title {
        padding-top: 48px;
    }
}

@media screen and (max-width: 767px) {
    .lead__title {
        width: 90%;
        font-size: 40px;
        font-weight: 900;
        line-height: 1.1;
    }
}